venv/
__pycache__/
*.pyc
*.zip
models/t5-notes-summarizer/*.json
models/t5-notes-summarizer/*.bin
models/t5-notes-summarizer/*.safetensors
models/roberta-doubt-solver/*.json
models/roberta-doubt-solver/*.bin
models/roberta-doubt-solver/*.safetensors
models/Valhalla-quiz-generator/*.json
models/Valhalla-quiz-generator/*.bin
models/Valhalla-quiz-generator/*.safetensors
node_modules/
